{% extends "theme.html" %}


{% block extStyle %}
{% endblock %}




{% block extJS %}
{% endblock %}


{% block body %}

<p> default choosing wood length to be 1 meter</p>
<p> calculating using 1 m<sup>2</sup>=10.764 ft<sup>2</sup></p>
<p> calculating using 1 m=3.28 ft</p>
<form action="/" method="POST" accept-charset="utf-8">
  <input type="text" name="frame_length" placeholder="Frame Length"> 
  <select required name='frame_length_units'>
    <option disabled selected value>-- Select Units --</option>
    <option value="m">Meter</option>
    <option value="in">Inches</option>
    <option value="mm">Millimeter</option>
    <option value="ft">Feet</option>
  </select>
  <br>
  <input type="text" name="frame_width" placeholder="Frame Width">
  <select required name='frame_width_units'>
    <option disabled selected value>-- Select Units --</option>
    <option value="m">Meter</option>
    <option value="in">Inches</option>
    <option value="mm">Millimeter</option>
    <option value="ft">Feet</option>
  </select>
  <br>
  <input type="text" name="wood_width" placeholder="Wood Width">
  <select required name='wood_width_units'>
    <option disabled selected value>-- Select Units --</option>
    <option value="m">Meter</option>
    <option value="in">Inches</option>
    <option value="mm">Millimeter</option>
    <option value="ft">Feet</option>
  </select>
  <br>
  <input type="text" name="margin_width" placeholder="Margin">
  <select required name='margin_width_units'>
    <option disabled selected value>-- Select Units --</option>
    <option value="m">Meter</option>
    <option value="in">Inches</option>
    <option value="mm">Millimeter</option>
    <option value="ft">Feet</option>
  </select>
  <br>
  <input type="text" name="cost_wood_per_m" placeholder="Cost of wood per meter"><br>
  <input type="text" name="cost_hw_per_sqft" placeholder="Cost of hardware per square feet"><br>
  <input type="text" name="trans_charge_per_sqft" placeholder="Cost of transportation per square feet"><br>
  <input type="text" name="labour_charge_per_sqft" placeholder="Cost of labour per square feet"><br>
  <input type="submit" name="Calculate"><br>


</form>
{% endblock %}  